:root {
  --background: #fbfbfe;
  --background-contrast: #eeeef2;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff;
  --navbar-height: 96px;
  --text: #050315;
}

#sheet {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--secondary);
  height: 100vh;
  transform: translateY(calc(100% - var(--navbar-height) - 16px));
  border-radius: 16px;
}

div[sheet-content] {
  padding: 0 16px 16px 16px;
}

#sheet > div[sheet-handle] {
  padding: 0px 16px 16px 16px;
}

#sheet-thumb {
  background-color: var(--background);
  height: 8px;
  border-radius: 8px;
  margin: 16px;
}

* {
  color: var(--text);
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
}

#loading { display: none; position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); z-index: 99}
.loading {
display: block !important;
}

.loading-spinner-container {
  position: absolute;
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  background-color: white;
  height: 96px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#snackbar {
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  right: 50%;
  left: 50%;
  max-width: calc(100vw - 80px);
  width: 100%;
  background-color: black;
  bottom: calc(var(--navbar-height) + 8px);
  transform: translateX(-50%);
  visibility: hidden;
  color: white;
}

button,input[type="submit"] {
  padding: 4px;
}

ul {
  overflow-y: auto;
}

li {
  list-style-type: none;
  padding: 8px;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding: 16px;
  height: calc(100% - var(--navbar-height));
}

nav {
  box-shadow: 8px 4px 4px var(--accent);
  background-color: var(--background-contrast);
  padding: 8px;
  width: 100%;
  height: var(---height);
  z-index: 4;
}

nav > ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  stroke: var(--text);
}

.nav-item > svg {
  padding: 4px;
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

input {
  border: none;
  background-color: var(--background-contrast);
  border-bottom: 2px solid var(--secondary);
  padding: 8px;
  outline: none;
  transition: 0.3s all;
}

input:focus {
  border-bottom: 2px solid var(--accent);
}

